.solar-system {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.circular {
  border-radius: 50%;
}

.planet {
  top: 50%;
  position: absolute;
  width: 35vw;
  height: 35vw;
  background-color: #ffcc00;
  transform: translate(-50%, -50%);
}

.stars-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
