@import "../theme.less";
@import "../fonts.less";

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inner-content {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.inner-content > div {
  margin: 5%;
}

.back-button {
  position: fixed;
  margin-top: 5px;
  font-size: 40px;
  transform: rotate(-20deg);
  cursor: pointer;
}

.back-button-label {
  position: absolute;
  margin-top: 10px;
  margin-left: 45px;
  cursor: pointer;
}

.card {
  margin: 25px;
  padding: 25px;
  box-shadow: 7px 7px 15px 0 black;
  background-color: #141414;

  p {
      vertical-align: top;
      text-align: left;
      font-size: 17px;
  }
}

#section-blur {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#section-blur.transition {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(10px);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555573;
  border-radius: 10px;
}