<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/icon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<app-solar-system></app-solar-system>
<div class="inner-content"
      [@fadeAnimation]="{ value: animationState }"
      [style.z-index]="pagesZIndex">
  <span class="back-button"
      (click)="this.pagesService.emitPageEvent('closed')" nz-icon nzType="rocket"></span>
  <div style="margin: 40px">
    <router-outlet></router-outlet>
  </div>
</div>
