@import "../../app.component.less";

.card {
    img {
        width: 50%;
        height: 25%;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.icon {
    text-align: left;
    font-size: 2em;
}

h1 {
    font-family: "Major Mono Display", monospace;
    font-size: 3em;
    margin: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}

.page-link {
    text-align: center;
    text-decoration: underline;
}