:host {
  display: flex;
}

.card {
  margin: 25px 0;
  padding: 25px;
  box-shadow: 7px 7px 15px 0 black;
  background-color: #141414;

  p {
    vertical-align: top;
    text-align: left;
    font-size: 17px;
  }
}
