.circular {
  border-radius: 50%;
}

.shadow {
  background-color: black;
}

.planet {
  transform-origin: center center;
  backface-visibility: hidden;
}

.shadow,
.planet,
.orbit,
.clipping-mask,
.scrolling-background-land,
.scrolling-background-clouds,
.half-shadow,
.title {
  position: absolute;
}

.shadow,
.orbit {
  transform: translate(-50%, -50%);
}

.orbit {
  pointer-events: none;
  border: 2px solid gray;
  background-color: transparent;
}

.clipping-mask {
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.scrolling-background-land,
.scrolling-background-clouds {
  background-size: contain;
  height: 100%;
  width: 240%;
}

.scrolling-background-land {
  animation: slide 20s linear infinite;
}

.scrolling-background-clouds {
  animation: slide 15s linear infinite;
}

.half-shadow {
  height: 100%;
  width: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.title {
  display: inline-block;
  text-align: right;
  font-size: 1.25vw;
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.75);
}

.rotation {
  position: relative;
  transform-origin: center left;
  top: 50%;
}

.clickable {
  cursor: pointer;
}
