@font-face {
    font-family: 'Lobster';
    src: url('./assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Major Mono Display';
    src: url('./assets/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}