<div id="inner-body">
    <!-- Banner -->
    <section>
        <div>
            <header>
                <div class="animation-container">
                    <h1 class="fade-in-up">Daniel Parker</h1>
                </div>
            </header>
        </div>
    </section>

    <!-- One -->
    <section class="card">
        <img class="profile-pic" src="assets/images/profile/ProfilePic.jpg" />
        <header>
            <h2>About Me</h2>
        </header>
        <p>
            In case you haven't realized already, my name is <b>Daniel Parker</b>!
            I am currently employed at Altera Digital Health as an Associate Software Engineer.
            In my current position, I help develop and maintain our Electronic Health Record Systems.
            I work on the clinical documentation primarily in .Net Core and .Net Framework.
        </p>
        <p>
            Outside of work, I enjoy working on side projects like this website, making Unity games, and learning new programming languages.
            For instance, I'm currently teaching myself C++ and Vulkan by making a physics based engine.
            I've also been putting a lot of effort into this website.
        </p>
        <p>
            To dive a little deeper, I created this website using Angular.
            I deployed it on my self-hosted Ubuntu server running an Ngnix web server.
            When you check out my <a routerLink="/photography-portfolio">photo portfolio</a>, the images are provided by my Express and Node.Js backend.
        </p>
        <br/>
        <p>
            Some other hobbies of mine unrelated to coding includes:
            <ul>
                <li>Hiking</li>
                <li>Playing Video Games</li>
                <li>Cooking</li>
                <li>Gardening</li>
                <li>Metal Detecting</li>
            </ul>
        <p>
    </section>

    <!-- Two -->
    <section class="card">
        <header>
            <h2>Little List of Skills</h2>
        </header>
        <ul class="skills">
            <li *ngFor="let skill of webSkills">
                <span>{{skill.language}}</span>
                <nz-progress [nzShowInfo]="false"
                             [nzPercent]="skill.level"
                             [nzSteps]="5"
                             nzStrokeColor="#1890ff"></nz-progress>
            </li>
        </ul>
        <ul class="skills">
            <li *ngFor="let skill of programmingSkills">
                <span>{{skill.language}}</span>
                <nz-progress [nzShowInfo]="false"
                             [nzPercent]="skill.level"
                             [nzSteps]="5"
                             nzStrokeColor="#1890ff"></nz-progress>
            </li>
        </ul>
    </section>
</div>